@import '../variables';

%team-button {
  @include default-font(16px);
  box-shadow: $boxshadow;
  outline: 0;
  border: none;
  height: 42px;  // for the image
  line-height: 42px; // for the text
  padding: 0 15px;
  border-radius: 2px;

  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    max-width: 40px;
    max-height: 40px;
    padding-left: 20px;
  }
}

#button-container {
  .team-button-gryffindor {
    background-color: $gryffindor;
    @extend %team-button;
  }
  .team-button-slytherin {
    background-color: $slytherin;
    @extend %team-button;
  }
  .team-button-hufflepuff {
    background-color: $hufflepuff;
    @extend %team-button;
  }
  .team-button-ravenclaw {
    background-color: $ravenclaw;
    @extend %team-button;
  }
}
